/* Main Section Styling */

    div.mainbox {
        padding: 30px 140px;
    }

    main ul {
        flex-direction: column;
        gap: 25px;
    }

    #mainlist {
        gap: 40px;
    }

    main ul#offerlist {
        list-style-type: circle;
        gap: 0px;
        padding-left: 20px;
    }

    main a {
        width: 21.7vh;
        height: 5.4vh;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        background-color: var(--main-color);
        justify-content: center;
        transition-duration: 0.4s;
        opacity: 0.7;
        font-size: 1.7vh;
    }

    main a:hover{
        opacity: 1;
    }

    .blue {
        color: var(--main-color);
    }