/* Main Section Styling */
    p.note {
        display: none;
    }

    main{
        width: 90%;
        margin: auto;
    }

    main .mainbox_list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3.2vh;
    }

    .maintop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .maintop #interactions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
    }

    #interactions .slider{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #interactions .slidercontainer {
        display: flex;
        flex-direction: row;
        gap: 5vw;
    }

    #interactions .slider .sliderelement{
        position: relative;
        width: 15vw;
        height: 8px;
        -webkit-appearance: none;
        appearance: none;
        background: #D9D9D9;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    #interactions .slider .sliderelement:hover{
        opacity: 1;
    }

    .sliderelement::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: var(--main-color); /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      
      .sliderelement::-moz-range-thumb {
      
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: var(--main-color); /* Green background */
        cursor: pointer; /* Cursor on hover */
      }

      #interactions button{
        height: 100%;
        width: 15vw;
        background-color: var(--main-color);
        color: white;
        border: none;
        cursor: pointer;
        transition-duration: 0.4s;
        opacity: 0.7;
      }

      button:disabled{
        cursor: not-allowed !important;
    }

      #interactions button:hover{
        opacity: 1;
      }

      .diagram {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 55vh;
        /*box-sizing: border-box; This Line makes the border go inward*/
        border: solid #D9D9D9 3px;
        border-bottom: solid #D9D9D9 15px;
        justify-content: center;
        gap: 0;
        align-items: end;
      }

      .navcontent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15vw;
    }

      @media only screen and (max-width: 1400px) {
        p.note {
            display: inline;
        }
        .navcontent{
            flex-direction: column;
            gap: 1vw;
        }
        .maintop{
            flex-direction: column;
            gap: 20px;
        }
        .maintop #interactions{
            flex-direction: row;
            gap: 10px;
        }
        #interactions .slidercontainer {
            flex-direction: column;
            gap: 1vw;
        }
        #interactions .slider .sliderelement{
            width: 25vw;
        }
        #interactions button{
            width: 15vw;
            font-size: 2vw;

        }
        .diagram {
            height: 50vh;
        }
      }