/* General Styling */

    :root{
        --main-color: #0800FF;
    }

    * {
        font-size: 16px;
        font-family: 'IBM Plex Mono';
        padding: 0px;
        margin: 0px;
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
    }

    p {
        font-size: 16px;
    }

    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .show-bullet {
        list-style-type: circle;
    }

    body {
        margin: 0;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow-x: hidden;
    }

/* Navbar Styling */

    ul.navbar {
        background-color: #373737;
        color: white;
        align-items: center;
        padding: 0px 77px;
        height: 8.7vh;
        min-height: 60px;
        justify-content: space-between;
    }

    ul.navbar a {
        color: white;
        text-decoration: none;
    }

    ul.navbar div.logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul.navbar div.logo img {
        width: 60px;
        height: 60px;
    }

    ul.navbar ul.sortlist {
        align-items: center;
        justify-content: space-between;
        gap: 77px;
    }

    ul.navbar a h2 {
        color: white;
        background: none;
        border: none;
        padding: 2px;
        transition-duration: 0.4s;
    }

    ul.navbar a h2:hover {
        background-color: black;
    }

/* Footer styling */

    footer {
        background-color: #373737;
        height: 14vh;
        min-height: 30px;
        color: white;
        display: flex;
        overflow: hidden;
        justify-content: center;
    }

    footer img {
        width: 20px;
        height: 20px;
    }

    footer ul.outer{
        padding: 3.2vh 0;
        display: flex;
        flex-direction: row;
        gap: 20%;
    }

    footer ul.inner{
        display: flex;
        flex-direction: column;
    }

    footer ul.inner li{
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    footer ul.inner li a{
        color: white;
    }
    footer ul.inner li a:visited{
        color: rgb(173, 173, 173);
    }

/* Main Section Styling */

    main{
        width: 90%;
        height: 65vh;
        margin: auto;
    }

    main .mainbox_list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65vh;
        gap: 3.2vh;
    }

    .maintop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .maintop #interactions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
    }

    #interactions .slider{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #interactions .slider .sliderelement{
        position: relative;
        width: 27vw;
        height: 8px;
        -webkit-appearance: none;
        appearance: none;
        background: #D9D9D9;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    #interactions .slider .sliderelement:hover{
        opacity: 1;
    }

    .sliderelement::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: var(--main-color); /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      
      .sliderelement::-moz-range-thumb {
      
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background: var(--main-color); /* Green background */
        cursor: pointer; /* Cursor on hover */
      }

      #interactions button{
        height: 100%;
        width: 10vw;
        background-color: var(--main-color);
        color: white;
        border: none;
        cursor: pointer;
        transition-duration: 0.4s;
        opacity: 0.7;
      }

      #interactions button:hover{
        opacity: 1;
      }

      .diagram {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 55vh;
        /*box-sizing: border-box; This Line makes the border go inward*/
        border: solid #D9D9D9 3px;
        border-bottom: solid #D9D9D9 15px;
        justify-content: center;
        gap: 0;
        align-items: end;
      }

      @media only screen and (max-width: 800px) {
        .maintop{
            flex-direction: column;
            gap: 20px;
        }
        .maintop #interactions{
            flex-direction: row;
            gap: 10px;
        }
        #interactions button{
            width: 100px;
        }
        .diagram {
            height: 50vh;
        }
        .navbar .logo img, h1{
            display: none;
        }

        ul.navbar {
            flex-direction: column;
            height: 30vh;
            justify-content: center;
            gap:10px;
        }

        ul.navbar ul.sortlist {
            flex-direction: column;
            gap: 10px;
        }

        footer {
            display: none;
        }
      }